<!DOCTYPE html>
<html lang="jp">

<head>
	<meta charset="UTF-8">
	<title>企業情報収集</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<script type="text/javascript" language="JavaScript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/modal.js"></script>
</head>

<body text="#ffffff">
	<%= yield %>
</body>
<hr>
</html>
